<div class="w-full max-w-screen-xl mx-auto my-12">
  <h1 class="text-2xl text-gray-700">Add New Friend</h1>

  <form class="full max-w-screen-sm my-12">

    <div class="my-6">
      <input type="text" name="first_name" class="mx-auto border border-gray-300 mt-2 px-3 py-3 text-sm w-full focus:border-gray-400 outline-none shadow-x " placeholder="First Name">
      <span class="block text-sm text-red-400 mt-2">Error message</span>
    </div>

    <div class="my-6">
      <input type="text" name="last_name" class="mx-auto border border-gray-300 mt-2 px-3 py-3 text-sm w-full focus:border-gray-400 outline-none shadow-xl" placeholder="Last Name">
      <span class="block text-sm text-red-400 mt-2">Error message</span>
    </div>

    <div class="my-6">
      <input type="text" name="email" class="mx-auto border border-gray-300 mt-2 px-3 py-3 text-sm w-full focus:border-gray-400 outline-none shadow-xl" placeholder="user@email.com">
      <span class="block text-sm text-red-400 mt-2">Error message</span>
    </div>

    <div class="my-6">
      <input type="text" name="phone" class="mx-auto border border-gray-300 mt-2 px-3 py-3 text-sm w-full focus:border-gray-400 outline-none shadow-xl" placeholder="0032 488 288 783">
      <span class="block text-sm text-red-400 mt-2">Error message</span>
    </div>

    <div class="my-6">
      <select name="favourite_language" id=""  class="mx-auto border border-gray-300 mt-2 px-3 py-3 text-sm w-full focus:border-gray-400 outline-none shadow-xl">
        <option value="">choose your favourite language</option>
        <option *ngFor="let language of languages" value="{{ language.name }}">{{ language.name }}</option>
      </select>
      <input type="text" name="" class="mx-auto border border-gray-300 mt-2 px-3 py-3 text-sm w-full focus:border-gray-400 outline-none shadow-xl" placeholder="eg: php, js">
      <span class="block text-sm text-red-400 mt-2">Error message</span>
    </div>

    <button class="my-6 h-12 w-32 bg-red-500 text-white">
      Add
    </button>

  </form>

</div>


