<div class="w-full my-6 bg-gray-50 border border-gray-300 px-6 py-10">

  <div class="inline-block  float-right text-center">
    <span class="block">
      <span class="inline-block px-4 text-gray-500">
        Best Friend?
      </span>

      <button
        [ngClass]="friend.is_best_friend ? 'bg-green-500 border-green-700' : 'bg-yellow-400 border-yellow-600s'"
        class="w-12 h-12 block text-white my-2 inline-block"
        (dblclick)="onUpdateBestFriend(friend)"
      >
      <svg *ngIf="friend.is_best_friend" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 font-light inline-block mx-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
      </svg>
      <svg *ngIf="!friend.is_best_friend" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 font-light inline-block mx-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
    </span>

    <button
      class="w-12 mx-auto h-12 block float-right text-white my-2 bg-red-500 hover:bg-red-600 border border-red-700"
    >

      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 font-light inline-block mx-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
      </svg>
    </button>

  </div>
  <div>

  </div>
  <img
    *ngIf="(friend.avatar) == '' || !friend.avatar" src="../../../assets/images/avatars/default.png"
    class="inline-block -mt-16 h-32 border border-gray-300 mr-6 mt-0 shadow-md"
    alt="">
  <div class="inline-block">
       <span class="block text-base text-gray-700">
      <span class="">Name: </span>
      <span class="font-light">{{ friend.first_name }} {{ friend.last_name }}</span>
    </span>
    <span class="block text-base text-gray-700">
      <span class="">Email: </span>
      <span class="font-light">{{ friend.email }}</span>
    </span>
    <span class="block text-base text-gray-700">
      <span class="">Age: </span>
      <span class="font-light">{{ friend.age }}</span>
    </span>
    <span class="block text-base text-gray-700">
      <span class="">Favourite Language: </span>
      <span class="font-light">{{ friend.favourite_language }}</span>
    </span>
  </div>
</div>
